/* Write your CSS here */
/* Write your CSS code here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: Roboto;
  min-height: 100vh;
}
.error-message {
  text-align: center;
  color: #00e7ff;
  font-size: 28px;
  font-weight: bold;
  margin: 4px;
}
@media (min-width: 576px) {
  .error-message {
    margin: 48px;
  }
}
